// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Variables
$raleway-font: 'Raleway', sans-serif;

// Global Styles
body {
  font: 100% $raleway-font;
  color: #000;
}