@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Roboto");
h1, h2, h3, p, ul, li, a, label, input {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em; }

p, li, a, label, input {
  font-size: 13px; }

h1 {
  color: #5898D8;
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 22px; }

p.error {
  color: #CA3E41; }

div.main {
  background-color: #5898D8;
  width: 100%;
  height: 100vh;
  padding: 0; }
  div.main h1.welcome-logo {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    padding: 10px; }

div.logo h1 {
  padding-top: 20px; }

div.reps ul {
  list-style-type: none;
  display: inline-flex; }

div.reps img {
  border-radius: 50%; }
