// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Roboto');


// Variables
$raleway-font: 'Raleway', sans-serif;
$muli-font: 'Muli', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$red: #CA3E41;
$blue: #5898D8;
$lightblue: #8CD7FC;
$gray: #3A3A3A;


// Global Styles
body {
  font: 100% $roboto-font;
  color: $gray;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 40px auto;
}

header {
  margin-bottom: 30px;
  .logo {
    margin-top: 20px;
  }
  .no-padding {
    padding: 0;
  }
  nav.main {
    width: 100%;
    margin-top: 10px;
  ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
  }
  li {
    padding: 10px 0 10px 20px;;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: $blue;
  }
 }
}

.reps {
  margin: 0 auto;
  width: 100%;
  .col-md-6 {
    padding: 0;
  }
  h3 {
    text-align: center;
  }
  form {
    input {
      display: inline;
      width: auto;
    }
    .get-reps-btn {
      background: $blue;
      color: #FFF;
      border: 1px solid $blue;
      text-transform: uppercase;
      height: 1.5em;
      padding: 0 10px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      text-align: center;
      font-size: 14px;
      color: $gray;
      display: inline-block;
      text-transform: capitalize;
    }
  }
  .main-dash {
    display: flex;
    margin-top: 40px;
    min-height: 70vh;
    .group-container {
      min-height: 50%;
      height: 50%;
      p.group-label {
        background-color: $red;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        padding: 5px;
        margin-bottom: 0;
      }
      ul {
        margin-bottom: 0;
      }
    }
   
    .graph-container {
      background-color: $blue;
      color: #FFF;
      text-align: center;
      height: 70vh;
      min-height: 70vh;
      p {
        padding-top: 40%;
      }
    }
  }
}

}

