<!doctype html>
<html ng-app="RepsApp" lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Reps App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css/style.css') }}"> 
    </head>
    <body>
        <h1>Hello Alex!!!!</h1>
        <section class="senators" ng-controller="SenatorsController">
          <form role="form" ng-submit="getResults()">
          <input type="text" ng-model="zipcode" name="zipcode" class="form-control" id="zip-box" placeholder="Enter ZIP Code">
          </div>
        </section>
        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
