<!doctype html>
<html ng-app="RepsApp" lang="eng">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Reps App</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/vendors/skeleton/skeleton.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/main.css') }}">
    </head>
    <body class="container" ng-cloak class="ng-cloak">
      <header>
        <div class="row">
          <div class="twelve columns logo">
            <h1>LOGO</h1>
          </div>
        </div>
      </header>
      <div ng-controller="RepsCtrl">
      {% raw %}
        <div class="row">
          <div class="twelve columns">
            <form name="zipForm" role="form" ng-submit="getReps()">
              <label>Enter your ZIP code:</label>
              <input type="tel" ng-model="zipcode" name="zipcode">
              <input type="submit" ng-submit="getReps()" value="Go">
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="reps">
          <div class="six columns">
            <ul>
              <li ng-repeat="senator in senators track by $index">{{ senator.first_name }} {{ senator.last_name }}
              <img class="photo-id" ng-src="../static/img/bio_images/{{senator.bioguide_id}}.png" err-src="../static/img/bio_images/BLANK.png"></li>
            </ul>
          </div>
          <div class="six columns">
            <ul>
              <li ng-repeat="congress in congress track by $index">{{ congress.name }}
              <img class="photo-id" ng-src="../static/img/bio_images/{{congress.bioguide_id}}.png" err-src="../static/img/bio_images/BLANK.png"></li>
            </ul>
          </div>
        </div>
      </div>
       {% endraw %}
      <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
      <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
